* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Work Sans", sans-serif;
}

.container {
	width: 75%;
	margin: 0 auto;
}
.btn {
	padding: 20px 25px;
	border: 0;
	background-color: #ff900e;
	color: #fff;
	font-size: 1.25rem;
	font-weight: 600;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.4s ease-in-out;
}
.btn:hover {
	background-color: rgba(255, 144, 14, 0.75);
}

/* shared css */

/* header area start */
#header-area {
	background-color: rgba(255, 144, 14, 0.1);
	padding-top: 50px;
}

/* Navbar area start */

#header-area .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header-area .navbar h3 {
	font-size: 2.8125rem;
	font-weight: bold;
	color: #131313;
}
#header-area .navbar .nav-links {
	list-style: none;
	display: flex;
	gap: 75px;
}

#header-area .navbar .nav-item .nav-link {
	display: inline-block;
	color: #424242;
	text-decoration: none;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.625;
	transition: transform 0.4s ease-in-out;
}

#header-area .navbar .nav-item .nav-link:hover {
	transform: scale(1.25);
}

/* Navbar area end */

/* Banner area start */
#header-area .banner-area {
	padding-top: 100px;
	text-align: center;
	margin: 0 auto;
}
#header-area .banner-area .banner-content {
	max-width: 862px;
	margin: 0 auto;
}
#header-area .banner-area .banner-content h1 {
	font-size: 4rem;
	font-weight: 700;
	color: #131313;
	margin-bottom: 25px;
}
#header-area .banner-area .banner-content p {
	font-size: 1rem;
	color: #727272;
	font-weight: 400;
	line-height: 1.625;
	margin-bottom: 32px;
}
#header-area .banner-area .banner-image img {
	width: 100%;
	padding: 50px 0;
}

/* Banner area end */

/* Quick list area start */

